.inlineContent{
    display: inline;
}
.fontBold{
    font-weight: 600;
}
.leftSpace{
    margin-left: 20px;
}
.rightSpace{
  margin-right: 20px;
}
.topSpace{
  margin-top: 10px;
}
.boxContainer{
    padding: 15px;
    border-color: #d7d7d7;
    border-style: solid;
    border-width: 2px;
    display: inline-block; 
}
.hoverShadow{
    transition: .400s;
    cursor: pointer;
    user-select: none;
}
.hoverShadow:hover{
    box-shadow: 5px 10px 10px #e2f3ff;
}
.btn-Blue{
    color: #028cea;
    background: #fff;
    height: 45px;
    border: solid #028cea;
    border-width: 2px;
    border-radius: 15px;
    transition: .400s;
    font-size: 18px;
    font-weight: 600;
}
.btn-Blue-active{
  color: #fff;
  background: #028cea;
  height: 45px;
  border: solid #028cea;
  border-width: 2px;
  border-radius: 30px;
  transition: .400s;
  font-size: 18px;
  font-weight: 600;
}
.bottom-div{
  position: fixed;
  bottom: 0;
  background: #fff;
  width: 80%;
  text-align: right;
  padding: 15px;
}
.hidden-div{
  display: none !important;
}
.fields-hidden{
  display: none;
}
.fields-visible{
  
}
.btn-full-width{
  width: 100%;
}
.input-fields{
  margin-left: 8px;
  padding: 8px 15px;
  border-radius: 30px;
  border-color: #e4e4e4 !important;
  border: solid;
  width: 100%;
}
@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}
#nav-menu-container{
  width: 100%;
}
/* Nav Meu Styling */
.nav-menu a {
  padding: 0 8px 0px 8px;
  text-decoration: none;
  color: #222;
  font-weight: 500;
  font-size: 18px;
  text-transform: none;
  outline: none;
}

.nav-menu li:hover > a {
  color: #8490ff;
}

.nav-menu > li {
  margin-left: 0px;
  display: inline-block;
}
.nav-menu > li > a{
  padding: 5px 15px;
  border-radius: 30px;
}
.tab-active{
  background: #4287f5;
  color: #fff !important;
}

.nav-menu ul {
  margin: 22px 0 0 0;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;

}

.nav-menu ul li {
  transition: 0.3s;
  display: inline-block;
}

.nav-menu ul li a {
  padding: 5px 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 12px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: #8490ff;
}
.nav-menu{
  padding: 0px;
}
.nav-menu ul ul {
  margin-right: 10px;
  margin-top: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 15px;
  z-index: 999;
  top: 22px;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #222;
  font-weight: 900;
}

@media (max-width: 991px) {
  #mobile-nav-toggle {
    display: inline;
  }
  #nav-menu-container {
    display: none;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 400;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #8490ff;
}

#mobile-nav ul .menu-has-children li a {
  text-transform: none;
}

#mobile-nav ul .menu-item-active {
  color: #8490ff;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}
.inline-fields{
  display: inline-block;
  margin: 10px;
  padding: 0px;
}

.input-fields:focus{
  border-color: #a1deff;
}

.input:focus {
  border:1px solid red;
  box-shadow: 0 0 10px #719ECE;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.field-container{
  margin-top: 10px;
  padding: 20px;
  
}

.div-shadow{
  box-shadow:0px 1px 25px #e4e4e4;
}
.btn-Blue:hover{
    color: #fff;
    background: #028cea;
    border: none;
}
.outOfStockBtn-Selected{
    background: #028cea;
    border: none;
}
.outOfStockBtn-Selected h4{
    color: #fff !important;
}
table tr:nth-child(2) td:first-child {
    border-top-left-radius: 16px;
  }

  table tr:nth-child(2) td:last-child {
    border-top-right-radius: 16px;
  }
  table tr:last-child td:first-child {
    border-bottom-left-radius: 16px;
  }
  table tr:last-child td:last-child {
    border-bottom-right-radius: 16px;
  }
  .table-warning:hover td{
    background-color: #ececec !important;
  }
  .table-hover tbody tr:hover{
    background-color:#f1f1f1 !important;
  }
  .table-hover tbody th:hover{
    background-color:#eaeaea;
    color: #1e8efe;
  }
  .table-hover tbody th:hover img{
    opacity: 100;
  }

  .table-hover tbody th{
    cursor: pointer;
    font-weight: 500 !important;
    font-size: 14px;
    color: #898989;
  }
  .table-warning td{
    background-color: #ffffff;
  }
  .table-success td{
    background-color:#B4FEC1
  }

  .table-warning{
    background-color: #fff !important;
    /* background-color: #cdcdcd !important; */
    font-size: 1.1em !important;
    font-weight: 400 !important;
    
  }
  .table-warning td{
    /* background-color: #9bc86a !important; */
    background-color: #fff !important;
  }
  .status-button{
    cursor: pointer;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    min-width: 110px;
    font-size: 15px;
    height: 35px;
    border: 0;
    text-align: center;
    width: auto;
    max-width: 130px;
    padding: 4px 0px 4px 10px;
    box-shadow: 0px 1px 1px #888888;
  }
  table tr:last-child td:first-child{
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
  table tr:last-child td:last-child{
    border-bottom-right-radius: 0px !important;
  }
  .status-button img{
    height: 20px;
    widows: 20px;
    margin-right: 10px;
  }
  .searchBox{
    display: inline-block;
    float: right;
    border-radius: 8px;
    border: 0;
    color: #0080ff;
    font-size: 14px;
    padding: 8px 0px 8px 15px;
    background: #ececec;   
    min-width: 300px;
    outline: none;
}
.searchIcon{
  float: left;
  opacity: 0.5;
  width: 18px;
  height: 18px;
}

  .sortIcon{
    margin-left: 8px;
    margin-top: -3px;
    content:url("../../Images/sortIcon.png");
    transition: 0.5s;
    opacity: 0;
  }

  #tableContainer thead th {
    position: sticky;
  }
  #tableContainer{
    border: 1px solid #ececec;
    border-top: 0px;
  }
  .headerContainer{
    border: 1px solid #ececec;
    border-bottom: 0px;
  }
  .checkmark{
    pointer-events: none;
    margin:3px -15px 0px 4px;
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 1px 1px #888888;
    padding-right: 10px;
    border-radius: 5px;
    border-width: 5px;
    border: 1px solid #d0d0d0;
  }
  .checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 30px;
    width: 55px;
  }

/* On mouse-over, add a grey background color */
.checkboxContainer:hover input ~ .checkmark {
  background-color: #ebebeb;
}

/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxContainer .checkmark:after {
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn-success {
  float: right;
  padding: 8px 25px;
  font-size: 14px;
  font-weight: 500;
  width: 120px;
  height: 42px;
  font-weight: 500 !important;
  margin-bottom: 12px;
}
/* width */
#tableContainer::-webkit-scrollbar {
    width: 8px;
}
  /* Track */
#tableContainer::-webkit-scrollbar-track {
    background: #e6e6e6;
    transition: 0.6s;
  }

  /* Handle */
  #tableContainer::-webkit-scrollbar-thumb {
    background: #6cbcff;
    border-radius: 5px;
  }

  /* Handle on hover */
  #tableContainer::-webkit-scrollbar-thumb:hover {
    background: #2398fb;
    width: 12px;
  }
