.top-product-container{
    cursor: pointer;
    margin-left: 15px;
    background: #fff;
    box-shadow: 2px 2px 15px #d6f0ff;
    border: none;
    display: inline-block;
    padding: 20px;
}
.top-product-container h4{
    color: #00a2ff;
    font-size: 1.3rem;
}
h4{
    font-size: 1.3rem;
}
.progress{
    height: 0.4rem !important;
}