.top-product-container{
    margin-left: 15px;
    background-image: linear-gradient(to right, #4287f5 , #986efa);
    border-radius: 15px;
    box-shadow: 2px 2px 15px #986efa;
    border: none;
    display: inline-block;
    padding: 20px;
}
.top-product-container h4{
    color: #fff;
    font-size: 1.3rem;
}
h4{
    font-size: 1.3rem;
}