.inlineContent{
    display: inline;
}
.fontBold{
    font-weight: 600;
}
.leftSpace{
    padding-left: 15px;
}
.boxContainer{
    padding: 15px;
    border-color: #d7d7d7;
    border-style: solid;
    border-width: 2px;
    display: inline-block; 
}
.hoverShadow{
    transition: .400s;
    cursor: pointer;
    user-select: none;
}
.hoverShadow:hover{
    box-shadow: 5px 10px 10px #e2f3ff;
}
.btn-Blue{
    color: #028cea;
    background: #fff;
    height: 45px;
    border: solid #028cea;
    border-width: 2px;
    border-radius: 30px;
    transition: .400s;
}
.btn-Blue:hover{
    color: #fff;
    background: #028cea;
}
.outOfStockBtn-Selected{
    background: #028cea;
    border: none;
}
.outOfStockBtn-Selected h4{
    color: #fff !important;
}
table tr:nth-child(2) td:first-child {
    border-top-left-radius: 16px;
  }

  table tr:nth-child(2) td:last-child {
    border-top-right-radius: 16px;
  }
  table tr:last-child td:first-child {
    border-bottom-left-radius: 16px;
  }
  table tr:last-child td:last-child {
    border-bottom-right-radius: 16px;
  }
  .table-warning:hover td{
    background-color: #ececec !important;
  }
  .table-hover tbody tr:hover{
    background-color:#f1f1f1 !important;
  }
  .table-hover tbody th:hover{
    background-color:#eaeaea;
    color: #1e8efe;
  }
  .table-hover tbody th:hover img{
    opacity: 100;
  }

  .table-hover tbody th{
    cursor: pointer;
    font-weight: 500 !important;
    font-size: 14px;
    color: #898989;
  }
  .table-warning td{
    background-color: #cdcdcd;
  }
  .table-success td{
    background-color:#B4FEC1
  }

  .table-warning{
    /* background-color: #cdcdcd !important; */
    font-size: 1.1em !important;
    font-weight: 400 !important;
  }
  .table-warning td{
    /* background-color: #9bc86a !important; */
  }
  .status-button{
    cursor: pointer;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    min-width: 110px;
    font-size: 15px;
    height: 35px;
    border: 0;
    text-align: center;
    width: auto;
    max-width: 130px;
    padding: 4px 0px 4px 10px;
    box-shadow: 0px 1px 1px #888888;
  }
  .status-button img{
    height: 20px;
    widows: 20px;
    margin-right: 10px;
  }
  .searchBox{
    display: inline-block;
    float: right;
    border-radius: 8px;
    border: 0;
    color: #0080ff;
    font-size: 14px;
    padding: 8px 0px 8px 15px;
    background: #ececec;   
    min-width: 300px;
    outline: none;
}
.searchIcon{
  float: left;
  opacity: 0.5;
  width: 18px;
  height: 18px;
}

  .sortIcon{
    margin-left: 8px;
    margin-top: -3px;
    content:url("../../Images/sortIcon.png");
    transition: 0.5s;
    opacity: 0;
  }

  #tableContainer thead th {
    position: sticky;
  }
  #tableContainer{
    border: 1px solid #ececec;
    border-top: 0px;
  }
  .headerContainer{
    border: 1px solid #ececec;
    border-bottom: 0px;
  }
  .checkmark{
    pointer-events: none;
    margin:3px -15px 0px 4px;
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 1px 1px #888888;
    padding-right: 10px;
    border-radius: 5px;
    border-width: 5px;
    border: 1px solid #d0d0d0;
  }
  .checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 30px;
    width: 55px;
  }

/* On mouse-over, add a grey background color */
.checkboxContainer:hover input ~ .checkmark {
  background-color: #ebebeb;
}

/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxContainer .checkmark:after {
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn-success {
  float: right;
  padding: 8px 25px;
  font-size: 14px;
  font-weight: 500;
  width: 120px;
  height: 42px;
  font-weight: 500 !important;
  margin-bottom: 12px;
}
/* width */
#tableContainer::-webkit-scrollbar {
    width: 8px;
}
  /* Track */
#tableContainer::-webkit-scrollbar-track {
    background: #e6e6e6;
    transition: 0.6s;
  }

  /* Handle */
  #tableContainer::-webkit-scrollbar-thumb {
    background: #6cbcff;
    border-radius: 5px;
  }

  /* Handle on hover */
  #tableContainer::-webkit-scrollbar-thumb:hover {
    background: #2398fb;
    width: 12px;
  }
